---
import Nav from '../components/Nav.astro';
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Nav />
  <div class="px-12">
    <Home />
  </div>
</Layout>
