---

---

<section id="home" class="px-12">
  <div class="hero-name">
    <div>
      <h1 class="hero-name__outline">Dylan</h1>
      <span class="scanline">Daven</span><span class="text-primary scanline"
        >port</span
      >
    </div>
  </div>
</section>
