---
import InfoStrip from './InfoStrip.astro';
---

<section id="home" class="pt-20">
  <div
    class="flex justify-between font-mono text-xs tracking-widest mb-4 uppercase"
  >
    <div class="text-primary">
      <span>SEC&middot;001</span>
      <span class="px-2 lg:px-4">//</span>
      <span>PORTFOLIO</span>
      <span class="px-2 lg:px-4">//</span>
      <span>2026</span>
    </div>
    <div class="flex tracking-wide">
      <p class="text-neutral-content before:content-['+'] before:text-primary">
        Virginia Beach, VA
      </p>
    </div>
  </div>
  <div class="relative">
    <div
      class="absolute -top-3.5 -left-2 font-mono leading-none text-primary-muted"
    >
      +
    </div>
    <div
      class="absolute -top-3.5 -right-2 font-mono leading-none text-primary-muted"
    >
      +
    </div>
    <div
      class="absolute -bottom-3.5 -left-2 font-mono leading-none text-primary-muted"
    >
      +
    </div>
    <div
      class="absolute -bottom-3.5 -right-2 font-mono leading-none text-primary-muted"
    >
      +
    </div>
    <h1 class="hero-name hero-name__outline">Dylan</h1>
    <p class="hero-name">
      <span class="scanline">Daven</span><span class="text-primary scanline"
        >port</span
      >
    </p>
  </div>
  <InfoStrip />
</section>
