---

---

<section id="home" class="px-12">
  <h1 class="hero-name hero-name__outline">Dylan</h1>
  <p class="hero-name">
    <span class="scanline">Daven</span><span class="text-primary scanline"
      >port</span
    >
  </p>
</section>
