---
import InfoCell from './InfoCell.astro';
---

<div class="flex items-center border-t border-white-muted mt-6">
  <InfoCell cellTitle="title" cellText="senior software engineer" />
  <InfoCell cellTitle="specialization" cellText="front-end / ux" />
  <InfoCell accent cellTitle="active since" cellText="2018" />
</div>
