---
import InfoCell from './InfoCell.astro';
---

<div class="flex items-center border-t border-white-muted mt-10">
  <InfoCell cellTitle="title" cellText="senior software engineer" />
  <InfoCell cellTitle="specialization" cellText="front-end / ux" />
  <InfoCell cellTitle="Location" cellText="Virginia Beach, VA" />
  <InfoCell accent cellTitle="active since" cellText="2018" />
</div>
